@charset "utf-8";

#navigator {
    background-color: #2874F0;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    
}

/* ul {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
} */

#navigator div ul li a{
    display: inline-block;
    color: white;    
    text-decoration: none;
}

/* li a{
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    
} */



#navigator li:hover{
    background-color:#F2BC1F;
}

/* #navigator #rightComponent {    
    float: right;
    

} */



